<!-- <h1>Hello Angular</h1>

<p id="title">This is my component</p>

<hr> -->
<!-- Interpollation -->
<!-- <h3>Value of number: {{num}}</h3>
<h3>Value of number1: {{num1}}</h3>
<h3>Value of str: {{str}}</h3>
<h3>Value of str1: {{str1}}</h3>
<h3>Value of bool: {{bool}}</h3>
<h3>Value of bool1: {{bool1}}</h3>
<h3>Array: {{arr[2]}}</h3>
<hr>
<h3>Student Info:</h3>
<p>Student Name: {{student.name}}</p>
<p>Student Age: {{student.age}}</p>
<p>Student Marks: {{student.marks}}</p>
<p>Student City: {{student.city}}</p>
<hr>
<h3>{{hello()}}</h3>
<hr>
<app-first-comp></app-first-comp> -->

<!-- <app-data-binding></app-data-binding> -->

<app-directive-comp></app-directive-comp>